<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Route</title>
</head>
<body>
    <form method="post" action="/chats">
        <input placeholder="Sender Name" name="from">
        <br>
        <textarea name="msg" >Enter Message</textarea>
        <br>
        <input  name="to" placeholder="Receiver Name">
        <br>
        <button>Create Chat</button>
    </form>
</body>
</html>